[user]
api_key = <your key>
region = <targeted api region>

[logging]
log_path = <path of log files>

[dumping]
dump_path = <path of dump files>

[database]
redis_host = localhost
redis_port = 6379
mongodb_host = localhost
mongodb_port = 27019
elasticsearch_host = localhost
elasticsearch_port = 9200
elasticsearch_index = match
elasticsearch_doctype = details

[seed]
player = player_name_1,player_name_2
